# set

1. Add a list of elements to a given set
Given:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red",”Yellow”,”orange”]

In [1]:
sample={"yellow", "orange", "black"}
list1=["blue", "green", "red", "yellow", "orange"]
for e in list1:
    sample.add(e)
print(sample)

{'black', 'green', 'yellow', 'blue', 'orange', 'red'}


2. display common elements from the given set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [2]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1&set2

{30, 40, 50}

3. Generate a new set with all items from both sets by removing numbers which are in both sets.
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
o/p : order is not important
{70, 10, 20, 60,25,100}

In [3]:
set1 = {10, 20, 30, 40, 50,25} 
set2 = {30, 40, 50, 60, 70,100}
(set1|set2)-(set1&set2)

{10, 20, 25, 60, 70, 100}

4. set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{20, 70, 10, 60}

In [4]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
(set1|set2)-(set1&set2)

{10, 20, 60, 70}

5. Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{70, 10, 20, 60}

In [5]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
(set1|set2)-(set1&set2)

{10, 20, 60, 70}

6. Take a sentence as input from user. Every word is seperated by space. Print all unique words from the sentence.

In [6]:
a=input("Enter the string")
s1=set(a.split(" "))
print(s1)

Enter the stringhi vaishnavi
{'vaishnavi', 'hi'}

In [7]:
a=input("Enter the string")
s1=set(a)
print(s1)

Enter the stringhi vaishnavi
{'n', 'h', 's', ' ', 'v', 'a', 'i'}

# tuple

1. Reverse the following tuple
aTuple = (10, 20, 30, 40, 50,60)
Expected output:
(60,50, 40, 30, 20, 10)

In [8]:
Tuple = (10, 20, 30, 40, 50,60)
Tuple[::-1]

(60, 50, 40, 30, 20, 10)

2. display value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [9]:
Tuple = ("Orange", [10, 20, 30], (5, 15, 25))
Tuple[1][1]

20

3. Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)

In [10]:
Tuple = (10, 20, 30, 40)
a,b,c,d=(10,20,30,40)
print(a,b,c,d)

10 20 30 40

4. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [11]:
tuple1= (11, 22)
tuple2 = (99, 88) 
tuple1,tuple2=tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

5. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

In [12]:
tuple1 = (11, 22, 33, 44, 55, 66) 
tuple2=tuple1[3:5]
print(tuple1)
print(tuple2)

(11, 22, 33, 44, 55, 66)
(44, 55)

6. Modify the first item (22) of a list inside a following tuple to 200
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [200, 33], 44, 55)

In [13]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=200
print(tuple1)

(11, [200, 33], 44, 55)

7. Take two integer values in a & b. Swap their values using tuple, using temparary variable and without tuple and without temparary variable.
Ex. a=10 b=23
After swapping a=23 b=10

without temp

In [14]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a,b)
a,b=b,a
print(a,b)

enter the value of a45
enter the value of b67
45 67
67 45

with temp

In [15]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a,b)
temp=a
a=b
b=temp

print(a,b)

enter the value of a67
enter the value of b34
67 34
34 67

arthmatic method

# Dictionary

1. In cryptography, a Caesar cipher is a very simple encryption techniques in which each letter in the plain text is replaced by a letter some fixed number of positions down the alphabet. For example, with a shift of 3, A would be replaced by D, B would become E, and so on. The method is named after Julius Caesar, who used it to communicate with his generals. ROT-13 ("rotate by 13 places") is a widely used
example of a Caesar cipher where the shift is 13. In Python, the key for ROT-13 may be represented by means of the following dictionary
{'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
Your task in this exercise is to implement an encoder/decoder of ROT-13. Once you're done, you will be able to read the following secret message:
Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!
Note that since English has 26 characters, your ROT-13 program will be able to both encode and decode texts written in English.

In [3]:
d= {'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c', 'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
a=input("enter a message")
st=list(a)
print(st)
l1=list(d.keys())
print(l1)
for

enter a messagehello
['h', 'e', 'l', 'l', 'o']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [12]:
d1= {'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c', 'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
a=input("enter a message=")
st=list(a)
for i,e in enumerate(st):
    for key,value in enumerate(d1):
        if st[e]==d1[key]:
            st[e]=d1[value]
print(st)

enter a messagepython

TypeError: list indices must be integers or slices, not str

In [27]:
trans={'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 
    'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c', 'q':'d', 'r':'e', 
    's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 
    'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 
    'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 
    'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
s="Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!"
new_mess=""
for char in s:
    
    if (char==" ")|(char=="?")|(char=="!"):
        new_char=char
        new_mess=new_mess+new_char
    else:
        new_char = trans[char]
        new_mess = new_mess + new_char
        
print(new_mess)

Caesar cipher? I much prefer Caesar salad!

2. Given a dictionary of students and their favourite colours:
people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Purple','Jenny':'Pink'}
a. Find out how many students are in the list
b. Change Lisa’s favourite colour
c. Remove 'Jenny' and her favourite colour

In [9]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
print(people)
l1=list(people.keys())
print(l1)
people['Lisa']='Green'
print(people)
del people['Jenny']
print(people)
print(sorted(people,value))

{'Arham': 'Blue', 'Lisa': 'Yellow', 'Vinod': 'Purple', 'Jenny': 'Pink'}
['Arham', 'Lisa', 'Vinod', 'Jenny']
{'Arham': 'Blue', 'Lisa': 'Green', 'Vinod': 'Purple', 'Jenny': 'Pink'}
{'Arham': 'Blue', 'Lisa': 'Green', 'Vinod': 'Purple'}

NameError: name 'value' is not defined

3. Write a menu driven program to practice Dictionary functions.
Write a program to accept name of a person and their vehicle and store it in a dictionary.
Ask user if they want to continue to accept multiple values.
Display following menu:
a. Add new person name and a vehicle name.
b. Delete a person name and vehicle name from the dictionary.
----Accept person name from user.
----Check whether person name exists in the dictionary.
----If exists show person name and vehicle name to the user.
----Confirm for deletion, if user enters y
then delete otherwise no. Display appropriate message.
c. Modify vehicle name for the person
----Accept a person name from user.
----Check whether the person’s name exists.
----If the name exists, show the person’s name and vehicle name to user.
Ask for new value and then overwrite the old value.
d. Search vehicle for the given person’s name.
e. Search list of people, who have given a vehicle
f. Display all person names.
g. Display all vehicle names.
h. Exit


4. Write a program to display following menu and do the following:
a. Add new city and trees commonly found in the city.
b. Display all cities and the list of trees for all cities.
c. Display list of trees of a particular city.
---- Accept a city from user search city and if found display list of trees otherwise
---- Display message not found
d. Display cities which have the given tree.
---- Accept a tree name from user and display all cities in which the tree is found.
e. Delete city ---- Accept city from user and delete the city if found.
---- Prompt user before deletion
f. Modify tree list
---- Accept city and trees to be added in the city. if city exist add trees at the end of the list
---- Otherwise add city and list
g. Exit

In [10]:
print("a. Add new city and trees commonly found in the city. Display all cities and the list of trees for all cities. Display list of trees of a particular city. Display cities which have the given tree Delete city ---- Accept city from user and delete the city if found. Modify tree list Exit")

a. Add new city and trees commonly found in the city. Display all cities and the list of trees for all cities. Display list of trees of a particular city. Display cities which have the given tree Delete city ---- Accept city from user and delete the city if found. Modify tree list Exit

In [11]:
d1={'Mumbai':['Coconut','oak','mango'],'pune':['oak','palm'],'nashik':['coconut']}
print(d1)

{'Mumbai': ['Coconut', 'oak', 'mango'], 'pune': ['oak', 'palm'], 'nashik': ['coconut']}

In [12]:
d1['nanded']=['mango','oak']
print(d1)

{'Mumbai': ['Coconut', 'oak', 'mango'], 'pune': ['oak', 'palm'], 'nashik': ['coconut'], 'nanded': ['mango', 'oak']}

In [19]:
for keys,value in d1.items():
    print(keys,value)

Mumbai ['Coconut', 'oak', 'mango']
pune ['oak', 'palm']
nashik ['coconut']
nanded ['mango', 'oak']

In [20]:
sample_dict={'pune':['mango','banana','pine','teak_wood','neem'],
            'mumbai':['coconut','palm'],
            }
new_city='noida'
trees =['coconut','palm']

In [21]:
sample_dict[new_city] = trees
print(sample_dict)

{'pune': ['mango', 'banana', 'pine', 'teak_wood', 'neem'], 'mumbai': ['coconut', 'palm'], 'noida': ['coconut', 'palm']}

In [25]:
new_city=input("enter the choice")
tree = input("enter the tree by ,")
trees=tree.split(',')
print(trees)

enter the choicenanded
enter the tree by ,oak,coconut
['oak', 'coconut']

In [28]:
city=input("enter the city")
for val in sample_dict.keys():
    if city in val:
        print(sample_dict.values())
    else:
        print("city not found")

enter the citypune
dict_values([['mango', 'banana', 'pine', 'teak_wood', 'neem'], ['coconut', 'palm'], ['coconut', 'palm']])

In [ ]:
city=input("enter the choice")
tree = input("enter the tree by ,")
trees=tree.split(',')
print(trees)
for val in sample_dict.keys():
    if city in val:

In [19]:
sample_dict={'pune':['mango','banana','pine','teak_wood','neem'],
            'mumbai':['coconut','palm'],
            }
while(True):
    choice=input("enter the choice")
    match choice:
        case 'a':
            new_city=input("enter the city")
            tree = input("enter the tree by ,")
            trees=tree.split(',')
            sample_dict[new_city] = trees
            print(sample_dict)
        case 'b':
            for keys,value in sample_dict.items():
                print(keys,value)
        case 'c':
            city=input("enter the city")
            for val in sample_dict.keys():
                if city in val:
                    print(sample_dict.values())
                else:
                    print("city not found")
        case 'd':
            trees = input("enter the tree by ,")
            for val in sample_dict.values():
                if trees in val:
                    print(sample_dict.keys())
                else:
                    print("tree not found")
        case 'e':
            city=input("enter the city")
            for val in sample_dict.keys():
                if city in val:
                    del sample_dict[city]
                    print(sample_dict)
        case 'f':
            print("exit")
            break

enter the choicea
enter the citybanglore
enter the tree by ,fir
{'pune': ['mango', 'banana', 'pine', 'teak_wood', 'neem'], 'mumbai': ['coconut', 'palm'], 'banglore': ['fir']}
enter the choiceb
pune ['mango', 'banana', 'pine', 'teak_wood', 'neem']
mumbai ['coconut', 'palm']
banglore ['fir']
enter the choicef
exit

5. Take a sentence as input from user. Every word is seperated by space. 
a. Create a word_count dictionary which will have unique words and their count. 

b. create suffix_count dictionary which will contain count of words ending with 's', 'es', 'ed', 'y', 'en' , etc.

c. create dictionary word_length_count which will store length of word and count.
Ex. 
input_sent= 'CDAC is in Pune'
There are 2 words of length 4 and 2 words of length 2 so,
word_length_count = {2:2, 4:2}

In [44]:
sent = input("Enter a sentence")
words = sent.lower().split()
unique_words = set(words)
word_count={}
for word in unique_words:
    word_count[word] = words.count(word)
print(word_count)

Enter a sentencewe are happy we are progressive people we have a target
{'target': 1, 'are': 2, 'happy': 1, 'progressive': 1, 'a': 1, 'have': 1, 'we': 3, 'people': 1}

In [43]:
for val in unique_words

['hi', 'hi', 'python']
python
on

TypeError: unsupported operand type(s) for |: 'str' and 'str'