1. Reverse a given list in Python
aList = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [1]:
a = [100, 200, 300, 400, 500]
a=a[::-1]
print(a)

[500, 400, 300, 200, 100]

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [2]:
l1=[e for e in range(150,251,2)]
l2=[]
for e in l1:
    if e%4==0:
        l2.append(e)
print(l1)
print(l2)

[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]
[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49] 
output:
[1, 2, 3, 4, 5, 6, 7]

In [3]:
import math
l1=[]
a=[1,4,9,16,25,36,49]
for e in a:
    l1.append(int(math.sqrt(e)))

print(a)
print(l1)

[1, 4, 9, 16, 25, 36, 49]
[1, 2, 3, 4, 5, 6, 7]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [4]:
l1=[5,6,7]
l2=[0,1]
l3=[]
for e in l1:
    for i in l2:
        a=str(e)+str(i)
        l3.append(a)
print(l3)

['50', '51', '60', '61', '70', '71']

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [5]:
l2=[100,200,300,400]
l1=[10,20,30,40]
for e1,e2 in zip(l1,l2):
    print(e1,e2)

10 100
20 200
30 300
40 400

6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [6]:
l1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
for e in l1:
    if e=='':
        l1.remove(e)
print(l1)

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [7]:
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l2=l1[2][2]
print(l2)
l2.insert(2,7000)
print(l2)
l1[2][2]=l2
print(l1)

[5000, 6000]
[5000, 6000, 7000]
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

In [8]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
l1=list1[2][1][2]
l1.insert(2,'h')
l1.insert(3,'i')
l1.insert(4,'j')
list1[2][1][2]=l1
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [9]:
l1 = [5, 10, 15, 20, 25, 50, 20]
l1[3]=200
print(l1)

[5, 10, 15, 200, 25, 50, 20]

10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [10]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for e in list1:
    if e==20:
        list1.remove(e)
print(list1)

[5, 15, 25, 50]

11. Take a number as input from user. 
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [11]:
st=input("enter the string seperated by ,")
l1=st.split()
l2=[]
# l3=[]
# print(l1)
# for e in l1:
#    l2.append(int(e))
#     l2=sorted(l2)
    

# print(l2)
# print(max)
print(l1)

enter the string seperated by ,2345
['2345']

In [27]:
a=input()
l1=list(a)
l2=sorted(l1)

max=''.join(l2)
l3=sorted(l2,reverse=True)

min=''.join(l3)
print(max)
print(min)

98537
35789
98753

In [13]:
num_str = input("Enter a number: ")
num_list = [int(d) for d in num_str]
min_num = int("".join(map(str, sorted(num_list))))
max_num = int("".join(map(str, sorted(num_list, reverse=True))))
print("Minimum integer:", min_num)
print("Maximum integer:", max_num)

Enter a number: 556
Minimum integer: 556
Maximum integer: 655

12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex. 
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

1. Write a Python program to sum all the items in a list.

In [14]:
list1=[28,37,49,50,60]
sum=0
for e in list1:
    sum=sum+e
print(sum)

224

2. Write a Python program to multiply all the items in a list.

In [33]:
list1=[5*6*5]
mul=1
for e in list1:
    mul=mul*e
print(mul)

150

3. Write a Python program to get the largest number from a list.

In [36]:
l1=[6,7,8,3]
max=max(l1)
print(max)

TypeError: 'str' object is not callable

4. Write a Python program to get the smallest number from a list.

In [30]:
l1=[123,234,456,789]
print(min(l1))

TypeError: 'str' object is not callable