Simple Calculator Program

In [3]:
def calculator(num1, num2):
    while (True):
        choice=int(input("enter the choice"))
        match choice:
            case 1:
                print(num1+num2) #addition
            case 2:
                print(num1-num2) #subtraction
            case 3:
                print(num1*num2) #multipication
            case 4:
                print(num1/num2) #division
            case 5:
                print(num1//num2) #integer division
            case 6:
                print(num1%num2) #mod
            case 7:
                print("exit.....")
                break
            case _:
                print("invaild")
cal=calculator(56,34)

enter the choice3
1904
enter the choice7
exit.....

In [5]:
import math
def calculator_1(num1,num2):
    while (True):
        choice=int(input("enter the choice"))
        match choice:
            case 1:
                print(num1**2)
                print(num2**2)
            case 2:
                print(num1**3)
                print(num2**3)
            case 3:
                print(math.sin(num1))
                print(math.sin(num2))
                
            case 4:
                print(math.cos(num1))
                print(math.cos(num2))
            case 5:
                print(math.tan(num1))
                print(math.tan(num2))
                
            case 6:
                print(math.exp(num1))
                print(math.exp(num2))
            case 7:
                print(math.factorial(num1))
                print(math.factorial(num2))
            case 8:
                print(math.sqrt(num1))
                print(math.sqrt(num2))
            case 9:
                print(math.log(num1))
                print(math.log(num2))
            case 10:
                print(math.log2(num1))
                print(math.log2(num2))
            case 11:
                print(math.log10(num1))
                print(math.log10(num2))
            case 12:
                print("exit....")
                break
            case _:
                print("invalid")
cal=calculator_1(4,6)

enter the choice1
16
36
enter the choice2
64
216
enter the choice3
-0.7568024953079282
-0.27941549819892586
enter the choice4
-0.6536436208636119
0.960170286650366
enter the choice5
1.1578212823495777
-0.29100619138474915
enter the choice6
54.598150033144236
403.4287934927351
enter the choice7
24
720
enter the choice8
2.0
2.449489742783178
enter the choice9
1.3862943611198906
1.791759469228055
enter the choice10
2.0
2.584962500721156
enter the choice11
0.6020599913279624
0.7781512503836436
enter the choice12
exit....

WAP to print the odd numbers from 1 to 99. Prints one number per line.

In [9]:
for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [2]:
def odd():
    for i in range(1,101,2):
        print(i)
o=odd()
print(o)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
None

WAP  to accept a number and check the number is even or not. Prints 1 if the number is even or 0 if the number is odd.

In [11]:
def even_odd(num):
    if num%2==0:
        return 1
    elif num%2!=0:
        return 0
    else:
        return False
odd= even_odd(5)
print(odd)

0

WAP to print numbers between 1 to 100 which are divisible by 3, 5 and by both

In [22]:
def divisible(num):
    for i in range(1,101):
        if num%3==0:
            return i
        elif num%5==0:
            return i
        elif (num%3==0) & (num%5==0):
            return i
        else:
            return False
        i+=1
    
d1=divisible(55)
print(d1)

1

In [32]:
l1=[]
l2=[]
l3=[]
for i in range(1,101):
    if (i%3==0) & (i%5==0):
        l1.append(i)
#             print(i)
    elif i%5==0:
        l2.append(i)
#             print(i)
    elif i%3==0:
        l3.append(i)
print(l1)
print(l2)
print(l3)

[15, 30, 45, 60, 75, 90]
[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100]
[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]

WAP that accepts three integers from the user and return true if two or more of them (integers ) have the same rightmost digit. The integers are non-negative

In [8]:
def right(n1,n2,n3):
    n1=n1%10
#     print(n1)
    n2=n2%10
    n3=n3%10
    if (n1==n2) | (n2==n3) | (n1==n3) |(n1==n2==n3) :
        return True
    else:
        return False
    
r1=right(23,43,73)
print(r1)

True


   WAP to convert input number of seconds to HH:MM:SS.

In [35]:
# seconds=int(input("enter the seconds"))
# hour= round((seconds/3600),2)
# print(hour)
# hour=str(hour)
# hour=hour.split('.')
# hours=int(hour[0])
# minute=int(hour[1])
# minute= (minute/60)
# minute=str(minute)
# minute=minute.split('.')
# minutes=int(minute[0])
# print(minutes)
# sec=round((minutes/60),2)
# sec=str(sec)
# sec=sec.split('.')
# sec=int(sec[0])
# print(hours,":",minutes,":",sec)

enter the seconds56000
15.56
0
15 : 0 : 0

In [64]:
seconds=3456
hr=round((seconds/3600),4)
sec=round((hr%100),4)
minute=sec/60
print(minute)
print(sec)
print(hr)
# second=hr/10
# print(second)

0.016
0.96
0.96

WAP to print all leap years between 2000 to 2100. Apply all conditions of checking leap year ( (divisible by 4 and not divisible by 100) OR (divisible by 400))

In [74]:
for year in range(2000,2101):
    if ((year%4==0) and (year%100!=0)) or (year%400==0):
        print(year)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

WAP to print calender for a month. Take how many days are there in month and starting day of the month as input

In [99]:
num=int(input("enter the number of days in the month"))
c=0
monday=[]
tuesday=[]
wednesday=[]
thursday=[]
friday=[]
saturday=[]
sunday=[]
for i in range(1,num+1,7):
    monday.append(i)
for i in range(2,num+1,7):
    tuesday.append(i)
for i in range(3,num+1,7):
    wednesday.append(i)
for i in range(4,num+1,7):
    thursday.append(i)
for i in range(5,num+1,7):
    friday.append(i)
for i in range(6,num+1,7):
    saturday.append(i)
for i in range(7,num+1,7):
    sunday.append(i)
    
print("mon",monday)
print("tue",tuesday)
print("wed",wednesday)
print("thu",thursday)
print("fri",friday)
print("sat",saturday)
print("sun",sunday)

enter the number of days in the month28
mon [1, 8, 15, 22]
tue [2, 9, 16, 23]
wed [3, 10, 17, 24]
thu [4, 11, 18, 25]
fri [5, 12, 19, 26]
sat [6, 13, 20, 27]
sun [7, 14, 21, 28]

Factorial of a number using loop

In [103]:
fact=int(input("enter the number"))
c=1
for i in range(1,fact+1):
    c=c*i
    
print(c)

enter the number6
720